from oDesk job posting
local attachment: score-uspto-requirements.pdf
--------------------------

Inputs:  see attached pdf for instructions and csv file for the source data. 
Output:  nine csv files that can be used as lookup tables.  

Files: 
CPC source.  This is the source data. 

cpc table - sample results.  This shows what the results should look like. 

cpc table - visualize.  The level for each CPC value can be visualized.  For your information only.  Not needed to complete the job. 

Workflow.  These are the instructions. 

Please be sure to read the full Workflow pdf before you respond. 

Please feel free to ask questions.
